<nav class="navbar navbar-expand-lg {{ site.data.theme.navbar-color | default: 'navbar-dark' }} {{ site.data.theme.navbar-background | default: 'bg-dark' }}">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#page-nav" aria-controls="page-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {% if site.organization-logo-nav %}<span class="d-lg-none text-end">
            <a href="{{ site.organization-link }}">
                <img class="img-fluid" id="mobile-nav-image" src="{{ site.organization-logo-nav | relative_url }}" title="{{ site.organization-name }}" alt="{{ site.organization-name | escape }} home" >
            </a>
        </span>{% endif %}
        
        <div class="collapse navbar-collapse" id="page-nav">
            <ul class="navbar-nav me-auto">
                {% comment %} 
                   Since the CSV doesn't have dropdown_parent, we assume 
                   all items in config-nav.csv are top-level links.
                {% endcomment %}
                {% for nav in site.data.config-nav %}
                <li class="nav-item">
                    <a class="nav-link{% if page.url contains nav.stub %} active{% endif %}" href="{{ nav.stub | append: '.html' | relative_url }}">{{ nav.display_name }}</a>
                </li>
                {% endfor %}
            </ul>
            
            {% include nav-search-lunr.html %}
            
        </div>
    </div>
</nav>
