<div class="row">
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <{{ include.heading_level | default: 'h2' | strip }} class="card-title h5">Top Subjects</{{ include.heading_level | default: 'h2' | strip }}>
                <p class="card-text">
                    {% for t in types %}
                    {%- assign count = templates | where_exp: 'item', 'item contains t' | size -%}
                    {% if count > 0 %}
                    {{ count }}
                    <a class="text-dark" href="{{ '/browse.html' | relative_url }}#display_template:{{ t }}">{{ t | upcase | replace: "_", " " }} 
                    {% include helpers/get-icon-svg.html type="hidden" template=t %}</a><br>
                    {%- endif -%}
                    {%- endfor -%}
                </p>
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <{{ include.heading_level | default: 'h2' | strip }} class="card-title h5">Locations</{{ include.heading_level | default: 'h2' | strip }}>
                <p class="card-text">
                    <!-- Add your Locations content here -->
                </p>
            </div>
        </div>
    </div>
</div>
