<div class="card mb-3 shadow-sm" style="background-color: #efeffa !important; border: 1px solid #d1d1e9 !important;">
    <div class="card-body">
        <h2 class="h5 card-title border-bottom pb-2">Collection as Data</h2>
        
        <div class="row g-2 text-center mt-2">
            <div class="col-4">
                <a href="{{ '/assets/data/metadata.csv' | relative_url }}" class="btn btn-sm w-100 d-flex align-items-center justify-content-center" style="font-size: 0.7rem; height: 55px; line-height: 1.1; background-color: #bcdefa !important; color: black !important; border: 1px solid #9ecdf7 !important;">Metadata CSV</a>
            </div>
            <div class="col-4">
                <a href="{{ '/assets/data/metadata.json' | relative_url }}" class="btn btn-sm w-100 d-flex align-items-center justify-content-center" style="font-size: 0.7rem; height: 55px; line-height: 1.1; background-color: #bcdefa !important; color: black !important; border: 1px solid #9ecdf7 !important;">Metadata JSON</a>
            </div>
            <div class="col-4">
                <a href="{{ '/assets/data/subjects.csv' | relative_url }}" class="btn btn-sm w-100 d-flex align-items-center justify-content-center" style="font-size: 0.7rem; height: 55px; line-height: 1.1; background-color: #bcdefa !important; color: black !important; border: 1px solid #9ecdf7 !important;">Subjects CSV</a>
            </div>

            <div class="col-4">
                <a href="{{ '/assets/data/subjects.json' | relative_url }}" class="btn btn-sm w-100 d-flex align-items-center justify-content-center" style="font-size: 0.7rem; height: 55px; line-height: 1.1; background-color: #bcdefa !important; color: black !important; border: 1px solid #9ecdf7 !important;">Subjects JSON</a>
            </div>
            <div class="col-4">
                <a href="{{ '/assets/data/geodata.json' | relative_url }}" class="btn btn-sm w-100 d-flex align-items-center justify-content-center" style="font-size: 0.7rem; height: 55px; line-height: 1.1; background-color: #bcdefa !important; color: black !important; border: 1px solid #9ecdf7 !important;">GeoData JSON</a>
            </div>
            <div class="col-4">
                <a href="{{ '/assets/data/locations.csv' | relative_url }}" class="btn btn-sm w-100 d-flex align-items-center justify-content-center" style="font-size: 0.7rem; height: 55px; line-height: 1.1; background-color: #bcdefa !important; color: black !important; border: 1px solid #9ecdf7 !important;">Locations CSV</a>
            </div>

            <div class="col-4">
                <a href="{{ '/assets/data/locations.json' | relative_url }}" class="btn btn-sm w-100 d-flex align-items-center justify-content-center" style="font-size: 0.7rem; height: 55px; line-height: 1.1; background-color: #bcdefa !important; color: black !important; border: 1px solid #9ecdf7 !important;">Locations JSON</a>
            </div>
            <div class="col-4">
                <a href="{{ '/assets/data/timeline.json' | relative_url }}" class="btn btn-sm w-100 d-flex align-items-center justify-content-center" style="font-size: 0.7rem; height: 55px; line-height: 1.1; background-color: #bcdefa !important; color: black !important; border: 1px solid #9ecdf7 !important;">Timeline JSON</a>
            </div>
            <div class="col-4">
                <a href="{{ site.source-code }}" class="btn btn-sm w-100 d-flex align-items-center justify-content-center" style="font-size: 0.7rem; height: 55px; line-height: 1.1; background-color: #bcdefa !important; color: black !important; border: 1px solid #9ecdf7 !important;">Source Code</a>
            </div>
        </div>
    </div>
</div>
