<div class="card-body">
        <h2 class="h6 card-title border-bottom pb-2" style="font-weight: bold;">Collection as Data</h2>
        <div class="row g-2 justify-content-between">
            <div class="col-auto">
                <a href="{{ '/assets/data/metadata.csv' | relative_url }}" class="btn btn-sm btn-outline-info" style="width: 135px; font-size: 0.75rem; padding: 2px 5px; background-color: #e0f2ff;">Metadata CSV</a>
            </div>
            <div class="col-auto">
                <a href="{{ '/assets/data/metadata.json' | relative_url }}" class="btn btn-sm btn-outline-info" style="width: 135px; font-size: 0.75rem; padding: 2px 5px; background-color: #e0f2ff;">Metadata JSON</a>
            </div>
            <div class="col-auto">
                <a href="{{ '/assets/data/subjects.csv' | relative_url }}" class="btn btn-sm btn-outline-info" style="width: 135px; font-size: 0.75rem; padding: 2px 5px; background-color: #e0f2ff;">Subjects CSV</a>
            </div>
            <div class="col-auto">
                <a href="{{ '/assets/data/subjects.json' | relative_url }}" class="btn btn-sm btn-outline-info" style="width: 135px; font-size: 0.75rem; padding: 2px 5px; background-color: #e0f2ff;">Subjects JSON</a>
            </div>
            <div class="col-auto">
                <a href="{{ '/assets/data/geodata.json' | relative_url }}" class="btn btn-sm btn-outline-info" style="width: 135px; font-size: 0.75rem; padding: 2px 5px; background-color: #e0f2ff;">GeoData JSON</a>
            </div>
            <div class="col-auto">
                <a href="{{ '/assets/data/locations.csv' | relative_url }}" class="btn btn-sm btn-outline-info" style="width: 135px; font-size: 0.75rem; padding: 2px 5px; background-color: #e0f2ff;">Locations CSV</a>
            </div>
            <div class="col-auto">
                <a href="{{ '/assets/data/locations.json' | relative_url }}" class="btn btn-sm btn-outline-info" style="width: 135px; font-size: 0.75rem; padding: 2px 5px; background-color: #e0f2ff;">Locations JSON</a>
            </div>
            <div class="col-auto">
                <a href="{{ '/assets/data/timeline.json' | relative_url }}" class="btn btn-sm btn-outline-info" style="width: 135px; font-size: 0.75rem; padding: 2px 5px; background-color: #e0f2ff;">Timeline JSON</a>
            </div>
            <div class="col-auto">
                <a href="https://github.com/cornellhonorsproject/draft01" class="btn btn-sm btn-outline-info" style="width: 135px; font-size: 0.75rem; padding: 2px 5px; background-color: #e0f2ff;">Source Code</a>
            </div>
        </div>
    </div>
</div>
