---
# Updated home page with transparent banner and floating text
layout: page
---

<div id="home-banner" style="background-image: url('{{ "/assets/img/banner2.jpg" | relative_url }}'); 
            height: 400px; 
            background-size: cover; 
            background-position: center;
            position: relative;">

  <div style="position: absolute; 
              top: 0; 
              left: 0; 
              width: 100%; 
              height: 100%;"></div>

  <div style="position: absolute; 
              bottom: 25px; 
              left: 50%; 
              transform: translateX(-50%);
              color: white;
              text-align: center;
              z-index: 10;">
      <h4 style="margin:0; text-shadow: 2px 2px 8px rgba(0,0,0,1);">
          432 images of punk political statements
      </h4>
  </div>

</div>

<div class="row mt-4">

  <div class="col-md-8">
    {% include index/description.html %}
    {% include index/carousel.html title="Sample Items" %}
  </div>

  <div class="col-md-4">  
    {% include index/time.html %}
    {% include index/content.html %}

    <div class="card mb-3 shadow-sm" style="background-color: #f8f9fa;">
        <div class="card-body">
            <h2 class="card-title h5 text-dark">User Guide</h2>
            <div class="card-text small">
                Explore this collection by:
                <ul class="mt-2">
                    <li><strong>Browse:</strong> See all items in a gallery.</li>
                    <li><strong>Timeline:</strong> View chronological history.</li>
                    <li><strong>Map:</strong> Locate where posters originated.</li>
                </ul>
            </div>
            <a href="{{ '/about.html' | relative_url }}" class="btn btn-sm btn-outline-dark mt-2">Learn More</a>
        </div>
    </div>
    </div>

</div>

<div class="row mt-4">
  <div class="col-md-6">
    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" %}
  </div>
  <div class="col-md-6">
    {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary" %}
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-12">
    {% include index/data-download.html %}
  </div>
</div>
